.plusMinusButton{
    display: flex;
}

.number{
    width: 30px;
    height: 30px;
    border: 1px solid black;
}

.inputText{
    border: none;
    width: 27px;
    height: 27px;
    text-align: center;
}
